
<h1 class = text-center> See all cocktails </h1>
<p id="notice"><%= notice %></p>

<h1>Cocktails</h1>

<table>
  <tbody>
    <% @cocktails.each do |cocktail| %>
      <tr>
        <td><%= cocktail.name %></td>
        <td><%= link_to 'Ingredients', cocktail, :class=>"minilink" %></td>
        <td><%= link_to 'Edit', edit_cocktail_path(cocktail.id), :class=>"minilink" %></td>
        <td><%= link_to "Delete", cocktail, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"minilink red"%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Cocktail', new_cocktail_path %>
