<h1>cocktail :</h1>
<%= @cocktail.name %>


<ul>
<% @cocktail.doses.each do |dose| %>
<li><%= dose.ingredient.name %> - <%= dose.description %>
<%= link_to "Delete", dose_path(dose),
method: :delete, class: "btn btn-danger"%></li>
<% end %>

</ul>

<%= link_to 'Back', cocktails_path, class: "btn btn-primary" %>

<%= link_to 'Add a dose', new_cocktail_dose_path(@cocktail), class: "btn btn-primary" %>


<% content_for(:after_js) do %>
<script>
  $(document).ready(function(){
    alert("<%= @cocktail.name %>");
  })
</script>
<% end %>
